






<h1>Crear nuevo Blog</h1>
<form action="/blog/crear" method="post">
    <input type="text" name="Titulo" />
    <input type="text" name="Autor" />
    <input type="text" name="Contenido" />
    <button>Crear</button>
</form>